/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

// --- LAYER DEFINITIONS ---
#define BASE 0
#define SYM  1
#define NUM  2
#define PAD  3
#define NAV  4
#define NAV2 5
#define FUN  6
#define BT   7
#define ACC  8

/ {
    // --- COMBOS ---
    combos {
        compatible = "zmk,combos";

        // --- Left Side ---
        combo_copy {
            timeout-ms = <50>;
            key-positions = <26 27>; // X and C
            bindings = <&kp LC(C)>;
        };
        combo_paste {
            timeout-ms = <50>;
            key-positions = <27 28>; // C and V
            bindings = <&kp LC(V)>;
        };
        combo_paste_text {
            timeout-ms = <50>;
            key-positions = <28 29>; // V and B
            bindings = <&kp LC(LS(V))>;
        };
        combo_close {
            timeout-ms = <50>;
            key-positions = <2 3>; // W and F
            bindings = <&kp LC(W)>;
        };
        combo_reload {
            timeout-ms = <50>;
            key-positions = <3 4>; // F and P
            bindings = <&kp LC(R)>;
        };

        // --- Right Side ---
        combo_semicolon {
            timeout-ms = <50>;
            key-positions = <32 33>; // COMMA and DOT
            bindings = <&kp SEMI>;
        };
        combo_backslash {
            timeout-ms = <50>;
            key-positions = <33 34>; // DOT and FSLH
            bindings = <&kp BSLH>;
        };
        combo_tilde {
            timeout-ms = <50>;
            key-positions = <10 11>; // MINUS and EQUAL
            bindings = <&kp TILDE>;
        };

        // --- Both Thumbs ---
        combo_leader {
            timeout-ms = <50>;
            key-positions = <38 39>; // SPACE and RET
            bindings = <&none>; // READ NOTE BELOW!
        };
    };

    // --- ACCENT MACROS ---
    macros {
        // A: á (160) / Á (0193)
        a_low: a_low { compatible = "zmk,behavior-macro"; #binding-cells = <0>; tap-ms = <20>; bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N1 &kp KP_N6 &kp KP_N0>, <&macro_release &kp LALT>; };
        a_up: a_up { compatible = "zmk,behavior-macro"; #binding-cells = <0>; tap-ms = <20>; bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N9 &kp KP_N3>, <&macro_release &kp LALT>; };

        // E: é (130) / É (0201)
        e_low: e_low { compatible = "zmk,behavior-macro"; #binding-cells = <0>; tap-ms = <20>; bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N1 &kp KP_N3 &kp KP_N0>, <&macro_release &kp LALT>; };
        e_up: e_up { compatible = "zmk,behavior-macro"; #binding-cells = <0>; tap-ms = <20>; bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N0 &kp KP_N2 &kp KP_N0 &kp KP_N1>, <&macro_release &kp LALT>; };

        // I: í (161) / Í (0205)
        i_low: i_low { compatible = "zmk,behavior-macro"; #binding-cells = <0>; tap-ms = <20>; bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N1 &kp KP_N6 &kp KP_N1>, <&macro_release &kp LALT>; };
        i_up: i_up { compatible = "zmk,behavior-macro"; #binding-cells = <0>; tap-ms = <20>; bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N0 &kp KP_N2 &kp KP_N0 &kp KP_N5>, <&macro_release &kp LALT>; };

        // O: ó (162) / Ó (0211)
        o_low: o_low { compatible = "zmk,behavior-macro"; #binding-cells = <0>; tap-ms = <20>; bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N1 &kp KP_N6 &kp KP_N2>, <&macro_release &kp LALT>; };
        o_up: o_up { compatible = "zmk,behavior-macro"; #binding-cells = <0>; tap-ms = <20>; bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N0 &kp KP_N2 &kp KP_N1 &kp KP_N1>, <&macro_release &kp LALT>; };

        // U: ú (163) / Ú (0218)
        u_low: u_low { compatible = "zmk,behavior-macro"; #binding-cells = <0>; tap-ms = <20>; bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N1 &kp KP_N6 &kp KP_N3>, <&macro_release &kp LALT>; };
        u_up: u_up { compatible = "zmk,behavior-macro"; #binding-cells = <0>; tap-ms = <20>; bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N0 &kp KP_N2 &kp KP_N1 &kp KP_N8>, <&macro_release &kp LALT>; };

        // N: ñ (164) / Ñ (0209)
        n_low: n_low { compatible = "zmk,behavior-macro"; #binding-cells = <0>; tap-ms = <20>; bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N1 &kp KP_N6 &kp KP_N4>, <&macro_release &kp LALT>; };
        n_up: n_up { compatible = "zmk,behavior-macro"; #binding-cells = <0>; tap-ms = <20>; bindings = <&macro_press &kp LALT>, <&macro_tap &kp KP_N0 &kp KP_N2 &kp KP_N0 &kp KP_N9>, <&macro_release &kp LALT>; };
    };

    // --- BEHAVIORS ---
    behaviors {
        // Left hand HRMs: Only trigger hold if a right-hand key is pressed
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <170>;
            quick-tap-ms = <175>;                // Repeat tap quickly to hold the letter
            require-prior-idle-ms = <150>;       // Prevents false triggers while typing fast
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
            hold-trigger-on-release;             // Matches the precise timing of CHORDAL_HOLD
        };

        // Right hand HRMs: Only trigger hold if a left-hand key is pressed
        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <170>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
            hold-trigger-on-release;
        };

        // Tap Dance: 1 = Caps Word, 2 = Caps Lock
        td_caps: tap_dance_caps {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&caps_word>, <&kp CAPS>;
        };

        // Tap Dance: 1 = Sticky Layer ACC, 2 = App Menu
        td_acc: tap_dance_accent {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sl ACC>, <&kp K_APP>;
        };

        // Shift + Ctrl+Z = Ctrl+Y
        b_undo: behavior_undo_redo {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LC(Z)>, <&kp LC(Y)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_a: mm_a { compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>; bindings = <&a_low>, <&a_up>; mods = <(MOD_LSFT|MOD_RSFT)>; };
        mm_e: mm_e { compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>; bindings = <&e_low>, <&e_up>; mods = <(MOD_LSFT|MOD_RSFT)>; };
        mm_i: mm_i { compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>; bindings = <&i_low>, <&i_up>; mods = <(MOD_LSFT|MOD_RSFT)>; };
        mm_o: mm_o { compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>; bindings = <&o_low>, <&o_up>; mods = <(MOD_LSFT|MOD_RSFT)>; };
        mm_u: mm_u { compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>; bindings = <&u_low>, <&u_up>; mods = <(MOD_LSFT|MOD_RSFT)>; };
        mm_n: mm_n { compatible = "zmk,behavior-mod-morph"; #binding-cells = <0>; bindings = <&n_low>, <&n_up>; mods = <(MOD_LSFT|MOD_RSFT)>; };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
   &td_caps   &kp Q       &kp W       &kp F        &kp P         &kp G      &kp J  &kp L         &kp U         &kp Y        &kp MINUS   &kp EQUAL
   &td_acc    &hml LGUI A &hml LALT R &hml LCTRL S &hml LSHIFT T &kp D      &kp H  &hmr LSHIFT N &hmr LCTRL E  &hmr LALT I  &hmr LGUI O &kp SQT
   &b_undo    &kp Z       &kp X       &kp C        &kp V         &kp B      &kp K  &kp M         &kp COMMA     &kp DOT      &kp FSLH    &key_repeat
                                      &lt SYM ESC  &lt NUM TAB   &lt NAV SPACE   &lt NAV2 RET  &lt FUN BSPC  &lt BT DEL
            >;
        };
        sym_layer {
            display-name = "Sym";
            bindings = <
   &none     &none    &none    &none     &none      &none       &kp LBKT &kp DLLR &kp PRCNT &kp CARET &kp RBKT &kp GRAVE
   &none     &kp LGUI &kp LALT &kp LCTRL &kp LSHIFT &none       &kp LPAR &kp EXCL &kp AT    &kp HASH  &kp RPAR &kp COLON
   &kp LC(Z) &none    &none    &none     &none      &none       &kp LBRC &kp AMPS &kp STAR  &kp PIPE  &kp RBRC &kp BSLH
                               &trans    &trans     &trans      &trans   &trans   &trans
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
   &none     &none    &none    &none     &none      &none       &tog PAD      &kp N4 &kp N5 &kp N6 &kp MINUS &kp PLUS
   &none     &kp LGUI &kp LALT &kp LCTRL &kp LSHIFT &none       &none         &kp N1 &kp N2 &kp N3 &kp N0    &kp DOT
   &kp LC(Z) &none    &none    &none     &none      &none       &kp C_AL_CALC &kp N7 &kp N8 &kp N9 &kp FSLH  &kp STAR
                               &trans    &trans     &trans      &trans        &trans &trans
            >;
        };

        pad_layer {
            display-name = "Pad";
            bindings = <
   &none     &none    &none    &none     &none      &none       &tog PAD      &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_MINUS  &kp KP_PLUS
   &none     &kp LGUI &kp LALT &kp LCTRL &kp LSHIFT &none       &kp KP_NUM    &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_N0     &kp KP_DOT
   &kp LC(Z) &none    &none    &none     &none      &none       &kp C_AL_CALC &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_DIVIDE &kp KP_MULTIPLY
                               &trans    &trans     &trans      &trans        &trans    &trans
            >;
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
   &none     &none    &none    &none     &none      &none       &kp PG_UP &none    &none    &none  &none     &none
   &none     &kp LGUI &kp LALT &kp LCTRL &kp LSHIFT &none       &kp HOME  &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp END
   &kp LC(Z) &none    &none    &none     &none      &none       &kp PG_DN &none    &none    &none  &none     &none
                               &trans    &trans     &trans      &trans    &trans   &trans
            >;
        };

        nav2_layer {
            display-name = "Nav2";
            bindings = <
   &none     &none    &none  &none    &none     &kp PG_UP       &none &none      &none      &none    &none    &none
   &kp HOME  &kp LEFT &kp UP &kp DOWN &kp RIGHT &kp END         &none &kp LSHIFT &kp LCTRL  &kp LALT &kp LGUI &none
   &kp LC(Z) &none    &none  &none    &none     &kp PG_DN       &none &none      &none      &none    &none    &none
                               &trans &trans    &trans          &trans &trans &trans
            >;
        };

        fun_layer {
            display-name = "Fun";
            bindings = <
   &none &kp F5 &kp F6  &kp F7  &kp F8  &none                   &none &none      &none      &none    &none    &none
   &none &kp F1 &kp F2  &kp F3  &kp F4  &none                   &none &kp LSHIFT &kp LCTRL  &kp LALT &kp LGUI &none
   &none &kp F9 &kp F10 &kp F11 &kp F12 &none                   &none &none      &none      &none    &none    &none
                        &trans  &trans  &trans                  &trans &trans &trans
            >;
        };

        bt_layer {
            display-name = "BT";
            bindings = <
   &none      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &none &none &none &none &none &none
   &none      &none        &none        &none        &none        &none           &none &none &none &none &none &none
   &soft_off  &none        &none        &none        &none        &bt BT_CLR      &none &none &none &none &none &none
                                        &trans       &trans       &trans          &trans &trans &trans
            >;
        };

        acc_layer {
            display-name = "Acc";
            bindings = <
   &none &none &none &none &none &none                          &none &none  &mm_u &none &none &none
   &none &mm_a &none &none &none &none                          &none &mm_n  &mm_e &mm_i &mm_o &none
   &none &none &none &none &none &none                          &none &none  &none &none &none &none
                     &trans &trans &trans                       &trans &trans &trans
            >;
        };
    };
};